.menu-item {
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
  margin-top: 0.3rem;
  border-bottom: 1px solid var(--menu-color);
  transition: all 0.8s ease;
  border-radius: 0.3rem;
}

.menu-item:hover {
  background: var(--shadow-color);
  cursor: pointer;
}

.active {
  border-left: 6px solid var(--bg-secondary);
  padding-left: calc(5rem - 6px);
}
