.competition-selector {
  margin-left: 2.5rem;
}

.tab-option {
  border: 1px solid var(--menu-color);
  background: white;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-left: 2px;
  transition: all 0.8s ease;
  outline: none;
}
.tab-option:hover {
  cursor: pointer;
  background: var(--shadow-color);
}

.active {
  background: var(--shadow-color);
}

@media screen and (max-width: 600px) {
  .competition-selector {
    margin: 0;
    height: 3rem;
    display: flex;
  }
  .tab-option {
    margin-left: 0;
    padding: 12px 15px;
    font-size: 1.2rem;
    width: 600px;
    text-align: center;
  }
}
