.menu {
  width: 20rem;
  height: calc(100vh - 3.5rem);
  position: absolute;
  background: white;
  box-shadow: 1px 1px 5px var(--shadow-color);
  transform: translateX(-110%);
  transition: all 1s ease;
  padding: 5px;
  border-radius: 0.6rem;
}

.show {
  transform: translateX(0%);
}

.header {
  background: var(--bg-primary);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
.menu-logo {
  width: 35%;
}
